.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.main-title {
  margin-top: 100px;
  font-weight: 600;
  color: #c884e3;
  font-size: 32px;
}

.drag-and-drop-paragraph, .drag-and-drop-span {
  margin-top: 60px;
  font-weight: 600;
  font-size: 16px;
  color: #d8a1ed;
}

.drag-and-drop-span {
  color: #e7d8ed;
}

.drag-and-drop-wrapper {
  position: relative;
  margin-top: 60px;
  border: 4px dashed #e7d8ed;
  width: 530px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.drop-file-input__label {
  padding-top: 80px;
  text-align: center;
}

.drop-file-input__label p{
  font-weight: 600;
  font-size: 14px;
  color: #D2B7DF;
  max-width: 200px;
  padding-top: 10px;
}

.drop-file-input__label span {
  font-weight: 600;
  font-size: 14px;
  color: #e7d8ed;
}

.drag-and-drop-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drag-and-drop-wrapper:hover,
.drag-and-drop-wrapper.dragover {
    opacity: 0.6;
}

.drag-and-drop-wrapper.drop {
  border: 4px dashed #A8D1DE;
}

.file-list-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.file-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.file {
  font-weight: 600;
  font-size: 14px;
  color: #D2B7DF;
}

.file span {
  font-weight: 600;
  font-size: 14px;
  color: #A8D1DE;
  margin-left: 10px;
}

.file-list-container li + li  {
  margin-top: 0px;
}
